*{
  box-sizing: border-box;
}
body{
  background-color: #560656;
  color: violet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
  font-size: 18px;
}
input{
  font-size: 18px;
  width: 200px;
  border:3px solid black;
}
button{
  margin-left:3px;
  cursor:pointer;
  font-size: 15px;
  border:3px solid black;
  color:#052848;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

